.nav{
  background-color: #7a90ad;
}
.nav2{
  background-color: #7a90ad;
  display: flex;
  justify-content:flex-start;
}
.pull-right{
  display: flex;
  justify-content: flex-end;
}
.pull-left{
  display: flex;
  justify-content:flex-start;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container{
  background-color: aliceblue;
width: 30em;
height: 30em;
position: relative;
border-radius: 1em;
padding: 40px;
margin-top: 35px;
}
.marginleft{
  margin-left: 10px;
}
.centerself{
  display: flex;
  justify-content: center;
}
.margintop{
  margin-top: 10px;
}
.marginbottom{
  margin-bottom: 20px;
}
.marginlefttop{
  margin-left: 10px;
  margin-top: 10px;
}
.width-full{
  width: 100%;
}
.errmsg{
  color: red;
  display: flex;
  justify-content: center;

}